#document-header,
.hero,
.footer-logo
    display: none

.blocks
    @include in-page-without-sidebar
        .block-chapter
            .chapter
                .text
                    width: 100%

#document-footer
    @include media-breakpoint-up(desktop)
        .footer-legals
            ul, li, p
                display: inline
        .footer-credit
            margin-left: $spacing-3

body.color-1
    background: $color-1
body.color-2
    background: $color-2
body.color-3
    background: $color-3
body.color-4
    background: $color-4
body.color-5
    background: $color-5